@import url('https://fonts.googleapis.com/style2?family=Lexend+Deca:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	transition: all ease 0.2s;

	--font-family-logo: 'Lexend Deca', sans-serif;
	--font-family-main: 'Lexend Deca', sans-serif;

	--color-primary: #070928;
	--color-secondary: #3456ff;
	--color-tertiary: #f8f8fa;
	--color-base: #ffffff;
	--color-hover-primary: #2c36c4;
	--color-hover-secondary: #8095ff;

	--background-image: url('../images/background.svg');
	--logo: url('../images/logo.svg');
	--logo-inline: url('../images/logo-inline.svg');

	--font-size-large: 3rem;
	--font-size-base: 2rem;
	--font-size-small: 1.5rem;
	--font-size-tiny: 1.2rem;

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--border-radius-base: 0.8rem;

	--border-radius-input: 5px;
	--height-input: 4rem;

	--font-color-primary: #070928;
	--font-color-secondary: #121219;
	--font-color-tertiary: #1a1a1d;

	--padding-inline-page: 5px;

	--shadow-base: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

html {
	--base-size: 62.5%;
	font-size: calc(var(--base-size) * 0.75);
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	font-family: var(--font-family-main);
	background-color: var(--background-color);
	color: var(--font-color-primary);
	font-weight: var(--font-weight-normal);
}

#root {
	display: flex;
	flex-direction: column;
	margin: 0 0;
	width: 100%;
	height: 100vh;
}
