@import url('https://fonts.googleapis.com/style2?family=Lexend+Deca:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	transition: all ease 0.2s;

	--font-family-logo: 'Lexend Deca', sans-serif;
	--font-family-main: 'Lexend Deca', sans-serif;

	--color-primary: #141b45;
	--color-secondary: #3d77ff;
	--color-tertiary: #5c5d94;
	--color-base: #e6e6e6;

	--background-image: url('../images/background.svg');
	--logo: url('../images/logo.svg');
	--logo-inline: url('../images/logo-inline.svg');

	--color-primary-dark: #392929;
	--color-secondary-dark: #392929;
	--color-tertiary-dark: #392929;

	--font-size-large: 3rem;
	--font-size-base: 2rem;
	--font-size-small: 1.5rem;

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--border-radius-base: 15px;
	--border-radius-input: 5px;

	--font-color-primary: #090914;
	--font-color-secondary: #10101b;
	--font-color-tertiary: #5c5d94;

	--padding-inline-page: 5px;

	--height-input: 4rem;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	font-family: var(--font-family-main);
	background-color: var(--background-color);
	color: var(--font-color-primary);
	font-weight: var(--font-weight-normal);
}

#root {
	display: flex;
	flex-direction: column;
	margin: 0 0;
	width: 100%;
	height: 100vh;
}
